@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    transition: background 0.2s ease-in-out;
}

:root {
    --w: #ffffff;
    --main: #00ff00;
    --theme: #003c00;
    --navbar: #003c00;
    --bg: #003c00;
    --d: #003c00;
    --dialogue: #004c00;
    --text: #000000;
    --text2: #ffffff;
    --y: #fff000;
    --p: #cc77ff;
    --c: cyan;
    --r: red;
    --bh: #ffffff;
    --link:  #00ff00;
    --lh:  #003c00;
    --wintext: #003c00;
    --notif: #00ff00;
    --custom-key-color: var(--main);
    --ckc-b: var(--main);
    --ckc-blur: 0rem;
    --ckc-animation: unset;
    --ckc-animation2: unset;
    --ckc-duration: 0s;
    --ckc-easing: linear;
    --ckc-opacity-a: 1;
    --ckc-opacity-b: 1;
}

body {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: var(--bg);
    color:  var(--text);
}

.navbar audio {
    margin-left: 10px;
}

.boss-dialogue {
    position: absolute;
    z-index: -2;
    display: none;
}

.boss-dialogue li {
    color: var(--text2);
}

.random {
    display: none;
    position: absolute;
}

.navbar {
    position: fixed;
    top: 0;
    background: var(--main);
    width: 100%;
    display: flex;
    align-items: center;
    height: 10%;
    padding: 1rem;
    color: var(--navbar);
    max-height: 50px;
    z-index: 10;
}

.navbar li {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    text-decoration: none;
}

.info {
    position: absolute;
    right: 10px;
    gap: 10px;
    display: flex;
}

.container {
    width: 850px;
    background-color: var(--w);
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
    transition: background 3s ease;
    z-index: 0;
}
.hangman-box img {
    width: 270px;
    height: 270px;
    border-radius: 5px;
    border: 3px solid var(--theme);
    background: var(--w);
}
.hangman-box h1 {
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
}
.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
    overflow-wrap: wrap;
    
}
.word-display .letter {
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid var(--text);
    transition: border-bottom 0.3s ease-in-out;
    
}
.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}
.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 600;
}
.game-box .guesses-text b {
    color: #f00;
}
.game-box .keyboard {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 495px;
}

:where(.game-modal, .keyboard) button {
    color: var(--text2);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--theme);
    border-radius: 4px;
    text-transform: uppercase;
    position: relative;
}

.keyboard button::after, .keyboard button::before {
    content: '';
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform: translate(calc(-50% + 6px), calc(-50% + 6px));
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: var(--custom-key-color);
    border-radius: 6px;
    z-index: -1;
    animation: var(--ckc-animation) var(--ckc-duration) var(--ckc-easing) infinite;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: var(--ckc-opacity-a);
}

.keyboard button::before {
    background: var(--ckc-b);
    filter: blur(var(--ckc-blur));
    animation: var(--ckc-animation2) var(--ckc-duration) var(--ckc-easing) infinite;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: var(--ckc-opacity-b);
}

.qwerty {
    color: var(--text2);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--theme);
    border-radius: 4px;
    text-transform: uppercase;
    padding: 7px;
    margin-top: 7px;
}

button {
    color: var(--text2);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--theme);
    border-radius: 4px;
    text-transform: uppercase;
    transition: background 0.2s ease, color 0.2s ease;
}

.navbar button {
    padding: 2px 7px;
}

.dropdown button {
    padding: 2px 7px;
}
    
:where(body) button:hover {
    background: var(--main);
    color: var(--bh)
}
.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}

button[disabled] {
    background-color: var(--d);
    pointer-events: none;
}

:where(.game-modal, .keyboard) button:hover {
    background: var(--main);
}

.game-modal .content {
    background: var(--w);
    max-width: 420px;
    max-height: 420px;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    color: var(--text);
}

.game-modal img {
    max-width: 130px;
}

.game-modal h4 {
    font-size: 1.53rem;
    margin-bottom: 20px;
}

.game-modal p b {
    color: var(--wintext);
    font-weight: 600;
}
.game-modal button {
    padding: 12px 23px;
    background-color: var(--theme);
    border-radius: 7px;
    color: var(--text2);
}

.dropdown a {
    color: var(--link);
    text-decoration: none;
    border-radius: 4px;
    background: var(--theme);
    font-size: 1rem;
    font-weight: 600;
    padding: 2px 7px;
    transition: background 0.2s ease, color 0.2s ease;
}

.dropdown a:hover {
    background: var(--main);
    color: var(--lh);
}

.dropdown {
    position: fixed;
    background: #ffffff3c;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    right: -100%;
    transition: right 0.4s ease;
    z-index: 0;
    top: 60px;
    overflow-y: auto;
    max-height: 80vh;
}

.dropdown.open {
    right: 1rem;
}

.dropbut {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text2);
    cursor: pointer;
    margin: 4px;
    border: 3px solid var(--main);
}

.navbut {
    display: none;
}

@media (max-width: 726px) {
    #achievements {
        display: none;
    }
    #ach {
        z-index: 999;
    }
    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img {
        width: 200px;
        height: 200px;
    }
    .hangman-box h1 {
        display: none;
    }
    .navbar {
        background: none;
        color: var(--w);
    }
    .navbar h1 {
        background: var(--theme);
        border-radius: 4px;
        padding: 2px;
        padding-left: 7px;
        padding-right: 7px;
        color: var(--w);
    }
    .info li {
        color: var(--w);
    }
    .navbar audio {
        display: none;
    }
    .navbut {
        display: none;
    }
    .toggle {
        display: flex;
        background: var(--theme);
        border-radius: 4px;
        padding: 2px 10px;
        align-items: center;
        justify-content: center;
    }
    .info li {
        background-color: var(--theme);
        border-radius: 4px;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.container h1#help {
    display: none;
    font-size: 190px;
}

@media (max-width: 548px) {
    .navbar h1 {
        display: none;
    }
    .dialogue .content {
        width: 100%;
        max-width: 97%;
        flex-direction: column;
        align-items: center;
        height: 90%;
    }
    .dialogue .content img {
        width: fit-content;
        height: 100%;
    }
    .text-box {
        height: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 200px) {
    .game-box {
        display: none;
    }
    .hangman-box {
        display: none;
    }
    .container h1#help {
        display: flex;
        font-size: 160px;
    }
    .navbar {
        display: none;
    }
}
@media (max-height: 200px) {
    .game-box {
        display: none;
    }
    .hangman-box {
        display: none;
    }
    .container h1#help {
        display: flex;
    }
    .navbar {
        display: none;
    }
}

.health-bar {
    position: absolute;
    z-index: 999;
    display: none;
    opacity: 1;
    transition: opacity 2s ease;
}


.phb {
    bottom: 10px;
    color: var(--main);
}

.phb b {
    color: red;
}

.bhb {
    top: 10px;
    color: red;
}

#achievements {
    z-index: 1000;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 7px 10px;
    display: none;
}

.achievements-modal .content {
    background: var(--w);
    max-width: 550px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 5px;
    
}

.achievements-modal button {
    padding: 12px 23px;
    background-color: var(--theme);
    border-radius: 7px;
    color: var(--main);
}

.achievements-modal .content li {
    text-align: left;
}

.achievements-modal .content li b {
    color: var(--theme);
}

.achievements-modal .content h3 {
    color: var(--d);
    
}

.notification {
    position: fixed;
    display: flex;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    background: var(--theme);
    color: var(--notif);
    z-index: 9999;
    padding: 7px;
    width: calc(100% / 3);
    min-width: 300px;
    border-radius: 4px;
    transition: opacity 1.5s ease;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    background: #000000a0;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
}

.game-modal.show {
    pointer-events: auto;
}
.content.shop {
    background: var(--w);
    max-width: 550px;
    margin: 5px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
}
.modal.show {
    opacity: 1;
    pointer-events: auto;
}
.modal.show .content {
    pointer-events: auto;
}
.stuff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.stuff div {
    background: var(--d);
    width: calc(100% / 3 - 5px);
    padding: 5px;
    border-radius: 4px;
}
.daily-login {
    flex-direction: column;
}
.daily-login button {
    padding: 5px 10px;
}
.daily-login .content {
    background: var(--w);
    max-width: 550px;
    max-height: 300px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
}
.daily-login .content .perks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}
.daily-login .content .perks div {
    background: var(--d);
    width: calc(100% / 3 - 5px);
    min-width: 110px;
    padding: 5px;
    border-radius: 4px;
    height: 150px;
}
.perks div img {
    width: 100%;
}

.container.transparent {
    background: #ffffff3c;
}
.modal button {
    margin-top: 10px;
    padding: 5px 10px;
}
.game-modal button {
    padding: 12px 23px;
}
.update-modal .content {
    background: var(--w);
    max-width: 550px;
    max-height: 60%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
}
.content {
    background: var(--w);
    border-radius: 10px;
}

@keyframes slide {
    from {
        transform: translate(-100px, -100px);
    }
    to {
        transform: translate(-818.105px, -730px);
    }
}

.load {
    background: var(--w);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2147483647;
    align-items: center;
    justify-content: center;
    
}
.load img {
    max-width: 55px;
    max-height: 55px;
    animation: spin 3s linear infinite;
    
}


.speedrun {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 2px 7px;
    color: var(--w);
    background: var(--theme);
}

.market .content {
    background: var(--w);
    max-width: 550px;
    margin: 5px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
}
.stats .content {
    background: var(--w);
    max-width: 550px;
    margin: 5px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
}
.stats .content .data {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.alert-modal .content {
    background: var(--w);
    max-width: 230px;
    margin: 5px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
}

.dialogue {
    z-index: 999999999999999;
}

.dialogue .content {
    width: 100%;
    max-width: 950px;
    background: var(--dialogue);
    padding: 20px;
    display: flex;
    gap: 10px;
}

.dialogue .content img {
    border: 7px solid var(--theme);
    height: 269px;
    width: 269px;
    border-radius: 3px;
}
.text-box {
    color: var(--text2);
    padding: 7px;
    border: 7px solid var(--theme);
    height: 100%;
    width: 100%;
    border-radius: 3px;
    max-width: 69%;
    display: inline-flex;
    flex-direction: column;
    max-height: 268.8px;
}
.dialogue-text {
    overflow-x: auto;
    overflow-wrap: break-word;
    width: 100%;
    font-size: 1.4rem;
}

@keyframes chroma {
    to {
        filter: hue-rotate(360deg);
    }
}

.red {
    color: red;
}
.green {
    color: #0f0;
}
.blue {
    color: #00f;
}
.yellow {
    color: #ff0;
}
.darkgreen {
    color: var(--theme);
}
.bigtext {
    font-size: 3rem;
}
.smalltext {
    font-size: 0.7rem;
}
.line-through {
    text-decoration: line-through;
}

.undo {
    margin-top: 7.5px;
    padding: 10px;
    border-radius: 3000px;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.undo-button-div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.amount-display {
    display: none;
}

.manage-save .content {
    background: var(--w);
    max-width: 550px;
    margin: 5px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
}

.small-modals .content {
    background: var(--w);
    max-width: 550px;
    margin: 5px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
}

.slider {
    position: fixed;
    top: 30%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    width: 100vw;
    height: 200px;
    animation: holy-this-is-very-cool-i-think 20s linear infinite normal;
    padding: 0;
    margin: 0;
}

.slider button {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(550px);
    width: 50px;
    height: 50px;
}

.eaten {
    display: none;
}

@keyframes holy-this-is-very-cool-i-think {
    from {
        transform: perspective(1000px) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes eww {
    20% {
        width: 30px
    }
    60% {
        width: 70px
    }
    100% {
        width: 50px
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.donate-img {
    max-width: 256px;
}
.donate {
    align-items: center;
    justify-content: center;
}
.bmc-svg {
    height: 1.5rem;
}

@keyframes yummy {
    from {
        transform: perspective(1000px) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateY(360deg) scale(0);
    }
}

.level-display {
    gap: 3px
}
@media (max-width: 500px) {
    .navbar {
        font-size: 0.8rem;
    }
}
@media (max-width: 420px) {
    .navbar {
        font-size: 0.5rem;
    }
}
.enchant-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.enchant-div summary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 10px;
}
.white {
    color: var(--w);
}

i {
    padding-top: 2px;
    padding-bottom: -2px;
}
.idk-what-to-call-this {
    margin-top: 10px;
}
.flush-save {
    background-color: red;
}
.flush-save:hover {
    background-color: var(--theme);
    color: red;
}

.theme-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-box b {
    font-size: 1.2rem;
}

.theme-box input {
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    pointer-events: none;
}

.picker {
    border: var(--text) 3px solid;
    width: 20px;
    height: 20px;
    margin: 5px;
}

.theme-box button {
    margin: 5px;
}

.theme-colors {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 10%;
    gap: 5px;
}

.preset-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.preset-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    background: var(--d);
    border-radius: 3px;
    padding: 5px;
}

.preset-item img {
    width: 50%;
    height: max-content;
    object-fit: cover;
    margin-left: 10px;
}

.preset-info {
    margin: 5px;
    max-width: 40%;
}

.preset-info b {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.7rem;
}

.shortcut-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    /* justify-content: center; */
}
.shortcut-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    overflow-x: hidden;
}

.shortcut-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}
.shortcut-names b {
    padding: 5px 10px;
    margin-top: 10px;
}

.cool-display-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deprecated {
    display: none;
}

.mwd {
    background: var(--d);
    border-radius: 50px;
}

.mc {
    display: flex;
    flex-direction: column;
}

.mc span {
    font-size: 1.2rem;
}

.mtype {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 20px;
}

.m {
    text-align: left;
    margin: 20px;
    background: var(--d);
    border-radius: 5px;
    padding: 10px;
}

.meaning.modal .content {
    max-width: 900px !important;
}

.antonyms {
    border-bottom: var(--main) 5px solid;
    padding-bottom: 10px;
}

.hover-text {
    max-width: 30% !important;
    opacity: 0;
    position: fixed !important;
    z-index: 9999999999999999999;
    pointer-events: none;
    top: 0;
    left: 0;
    margin: 5px !important;
    background: var(--text);
    color: var(--w);
    padding: 2px 7px;
    border-radius: 3px;
    transition: opacity 0.3s ease-in-out;
}

.event-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.event-list .card {
    padding: 5px;
    position: relative;
    display: flex !important;
    background: var(--theme);
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.event-list .card img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.event-list .card .eg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(90deg, var(--theme) 70%, #00000000);
    z-index: 1000;
}
.ei {
    z-index: 1001;
    color: var(--text2);
}


.sb {
    margin-top: 10px;
    padding: 5px 10px;
}

.alpha {
    position: relative;
}

.alpha::before {
    content: 'ALPHA';
    background: var(--dialogue);
    color: var(--text2);
    font-weight: 800;
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 0.6rem;
    position: absolute;
    top: -2px;
    right: -15px;
}

.alpha:hover::before {
    top: -15px;
}

.beta {
    position: relative;
}

.beta::before {
    content: 'BETA';
    background: var(--dialogue);
    color: var(--text2);
    font-weight: 800;
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 0.6rem;
    position: absolute;
    top: -2px;
    right: -15px;
}

.beta:hover::before {
    top: -15px;
}

.buggy {
    position: relative;
}

.buggy::before {
    content: '可能壞掉';
    background: var(--dialogue);
    color: var(--text2);
    font-weight: 400;
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 0.6rem;
    position: absolute;
    top: -5px;
    right: -15px;
    transition: top 0.3s ease-in-out;
}

.buggy:hover::before {
    top: -15px;
}

.shop-item b {
    font-weight: 600 !important;
}
@keyframes rainbow {
    0% {
        background: #ff0000;
    }
    8% {
        background: #ff8800;
    }
    16% {
        background: #ffff00;
    }
    24% {
        background: #88ff00;
    }
    32% {
        background: #00ff00;
    }
    40% {
        background: #00ff88;
    }
    48% {
        background: #00ffff;
    }
    56% {
        background: #0088ff;
    }
    64% {
        background: #0000ff;
    }
    72% {
        background: #8800ff;
    }
    80% {
        background: #ff00ff;
    }
    88% {
        background: #ff0088;
    }
    100% {
        background: #ff0000;
    }
}
@keyframes rainbowText {
    0% {
        color: #ff0000;
    }
    8% {
        color: #ff8800;
    }
    16% {
        color: #ffff00;
    }
    24% {
        color: #88ff00;
    }
    32% {
        color: #00ff00;
    }
    40% {
        color: #00ff88;
    }
    48% {
        color: #00ffff;
    }
    56% {
        color: #0088ff;
    }
    64% {
        color: #0000ff;
    }
    72% {
        color: #8800ff;
    }
    80% {
        color: #ff00ff;
    }
    88% {
        color: #ff0088;
    }
    100% {
        color: #ff0000;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.01);
    }
}
@keyframes spinB {
    from {
        transform: rotate(0deg)  translate(calc(-50% + 6px), calc(-50% + 6px));
    }
    to {
        transform: rotate(360deg) translate(calc(-50% + 6px), calc(-50% + 6px));
    }
}
@keyframes pulseB {
    from {
        transform: scale(1) translate(calc(-50% + 6px), calc(-50% + 6px));
    }
    to {
        transform: scale(1.01) translate(calc(-50% + 6px), calc(-50% + 6px));
    }
}

.ckc-options {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

.ckc-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.content a {
    color: var(--text)
}